<script type="text/html" id="findDetailColumn">
<div id="findDetail">
  <div id="findDetail_info">	
	<table class="findDetail_table">
		<thead>
			<tr>
				<th><a href="javascript:void(0)">Product ID</a></th>
				<th><a href="javascript:void(0)">Description</th>
				<th><a href="javascript:void(0)">Warehouse</a></th>
				<th><a href="javascript:void(0)">ATP</th>
				<th><a href="javascript:void(0)">QOH</a></th>
				<th><a href="javascript:void(0)">Ordered Quantity</th>
			</tr>
		</thead>
	
		<tbody id="findDetail_tbody">
		    
			
		</tbody>
        
	</table>
	<div id="tablePager" class="clearfix">
     
	</div>
  </div>
</div>
</script>
<script type="text/html" id="detailTbodyColumn">

	{{if result.length>0}}
		{{each result as value i}}
			<tr class="">
			 <td>{{value.productId}}</td>
			 <td>{{value.brandName}} {{if value.internalName}}|{{/if}} {{value.internalName}} {{if value.description}}|{{/if}} {{value.description}}</td>
			 <td>{{value.facilityName}}</td>
			 <td>{{value.atp | formatDiff}}</td>
			 <td>{{value.qoh | formatDiff}}</td>
			 <td>{{value.orderNum | formatDiff}}</td>
            </tr>
		{{/each}}
	{{/if}}
{{if result.length==0}}
			<tr>
               <td colspan="6">0 results</td>
            </tr>
	{{/if}}
			    
</script>
<script type="text/html" id="detailPage">
	{{if totalNum>0}}<div class="goPage"><span>GO</span><input type="text" data-big-num="{{totalPage}}" class="go_page_input"/></div>{{/if}}
	<ul class="paging clearfix" id="fenye">
	    {{if totalNum>0}}
              <li ><a href="javascript:void(0)"  data-type="home" data-num="1" ><span  class="page_home"></span></a></li>
            
                 <li ><a href="javascript:void(0)"  data-num="{{pageNum-1}}" ><span  class="page_prev"></span></a></li>
                
			
			{{each nums as value}}
                {{if value==pageNum}}
                    <li class='active'><a href="javascript:void(0)" data-num="{{value}}" >{{value}} <span class='sr-only'>{{value}}</span></a></li>
                {{/if}}
                {{if value!=pageNum}}
                    <li ><a href="javascript:void(0)" data-num="{{value}}">{{value}} <span class='sr-only'>{{value}}</span></a></li>
                {{/if}}
            {{/each}}
           
           <li ><a href="javascript:void(0)"  data-num="{{pageNum+1}}"><span  class="page_next"></span></a></li>
           
          <li ><a href="javascript:void(0)" data-type="final"  data-num="{{totalPage}}"><span  class="page_final"></span></a></li>
		  
{{/if}}
	</ul>
    
	
</script>

