<script type="text/html" id="findPartyColumn">
<div id="findContent">
 <div id="find_party">

 <form id="productForm">
	<div class="product_search">
		<span class="inventory_item_name">Party Id</span>
		<select id="partyIdNameNum" class="product_select">
			<option value="1">Contain</option>
			<option value="2">Beginning</option>
			<option value="3">Equal</option>
		</select><input type="text" id="partyIdName" class="search_input" value="" />
		<span class="product_checkbox selected"></span><input style="display:none;" type="checkbox" checked="checked"   class="checklist" id="partyIdNameStatus" />
		<span>Ignore Case</span>
	</div>
	<div  class="product_search">
		<span class="inventory_item_name">First Name</span>
		<select id="firstNameNum" class="product_select">
			<option value="1" >Contain</option>
			<option value="2">Beginning</option>
			<option value="3">Equal</option>
		</select><input type="text" id="firstName" class="search_input" value="">
		<span class="product_checkbox selected"></span><input style="display:none;" checked="checked" type="checkbox" class="checklist" id="firstNameStatus" >
		<span>Ignore Case</span>
	</div>
	<div  class="product_search">
		<span class="inventory_item_name">Last name</span>
		<select id="lastNameNum" class="product_select">
			<option value="1" >Contain</option>
			<option value="2">Beginning</option>
			<option value="3">Equal</option>
		</select><input type="text" id="lastName" class="search_input">
		<span class="product_checkbox selected"></span><input style="display:none;"  checked="checked" type="checkbox" class="checklist" id="lastNameStatus" >
		<span>Ignore Case</span>
	</div>
	<div  class="product_search">
		<span class="inventory_item_name">User Login</span>
		<select id="userLoginNum" class="product_select">
			<option value="1" >Contain</option>
			<option value="2">Beginning</option>
			<option value="3">Equal</option>
		</select><input type="text" id="userLogin" class="search_input">
		<span class="product_checkbox selected"></span><input style="display:none;"  checked="checked" type="checkbox" class="checklist" id="userLoginStatus" >
		<span>Ignore Case</span>
	</div>
	
</form>
	<div class="search_btn">
       <a href="javascript:void(0)">find</a>
    </div>		
           <div class="search_info">	
	<table class="search_info_table">
		<thead>
			<tr>
				<th><a href="javascript:void(0)">Party Id</a></th>
				<th><a href="javascript:void(0)">First name</th>
				<th><a href="javascript:void(0)">Middle name</th>
				<th><a href="javascript:void(0)">Last name</th>
			</tr>
		</thead>
	
		<tbody id="tbody">		   
			
		</tbody>
        
	</table>
	<div id="tablePager" class="clearfix">
     
	</div>
	</div>
   		</div>
</div>
</script>

<script type="text/html" id="partyTbodyColumn">

	{{if result.length>0}}
		{{each result as value i}}
			<tr class="">
			 <td><a href='javascript:void(0);' class='table_btn'>{{value.partyId}}</a></td>
			 <td>{{value.firstName}}</td>
             <td>{{value.middleName}}</td>
			 <td>{{value.lastName}}</td>		
			</tr>
		{{/each}}
	
	{{/if}}
	{{if result.length==0}}
			<tr>
               <td colspan="4">0 results</td>
            </tr>
	{{/if}}
			    
</script>

<script type="text/html" id="partyPage">
	{{if totalNum>0}}<div class="goPage"><span>GO</span><input type="text" data-big-num="{{totalPage}}" class="go_page_input"/></div>{{/if}}
	<ul class="paging clearfix" id="fenye">
	    {{if totalNum>0}}
              <li ><a href="javascript:void(0)"  data-type="home" data-num="1" ><span  class="page_home"></span></a></li>
            
                 <li ><a href="javascript:void(0)"  data-num="{{pageNum-1}}" ><span  class="page_prev"></span></a></li>
                
			
			{{each nums as value}}
                {{if value==pageNum}}
                    <li class='active'><a href="javascript:void(0)" data-num="{{value}}" >{{value}} <span class='sr-only'>{{value}}</span></a></li>
                {{/if}}
                {{if value!=pageNum}}
                    <li ><a href="javascript:void(0)" data-num="{{value}}">{{value}} <span class='sr-only'>{{value}}</span></a></li>
                {{/if}}
            {{/each}}
           
           <li ><a href="javascript:void(0)"  data-num="{{pageNum+1}}"><span  class="page_next"></span></a></li>
           
          <li ><a href="javascript:void(0)" data-type="final"  data-num="{{totalPage}}"><span  class="page_final"></span></a></li>
		  
{{/if}}
	</ul>
    
	
</script>

